<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to HireMap</title>
<link rel="stylesheet" href="/styles/first_page.css">

</head>
<body>
  <h1>Welcome to <span style="color:yellow;">HireMap</span></h1>
  <p class="subtitle">Choose your role to get started</p>

  <div class="options">
    <a href="/hr/dashboard" class="option">I'm an HR</a>
    <a href="/index" class="option">I'm a Candidate</a>
  </div>
</body>
</html>
